.wrapper-title-icon {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.iconbox-left {
    .boxes-icon {
        float: left;
        margin-right: 15px;
    }

    .content-inner {
        float: left;
    }
}

.smicon-read {
    margin-top: 15px;
    padding: 5px 30px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    color: #2C3339;
    i {
        font-size: 12px;
        margin-left: 5px;
    }

}

.iconbox-right {
    .boxes-icon {
        float: right;
        margin-left: 15px;
    }
    .content-inner {
        float: left;
    }
}

.inner-icon {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.inner-icon .icon {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.circle {
    border-radius: 50%;
}

.text-center {
    .boxes-icon {
        margin: 0 auto;
    }
}

.icon-top {
    .icon-box-title {
        margin-top: 20px;
    }
    .boxes-icon {
        overflow: hidden;
        display: inline-block;
    }
}

.icon-box-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.boxes-icon {
    color: #333;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.iconbox-hover {
    .thim-widget-icon-box {
        background-color: #fff !important;
        transition: background-color 0.5s ease;
        padding-top: 60px;
        padding-bottom: 100px;
        .content-inner {
            padding-left: 60px;
            padding-right: 60px;
        }

    }
    &:hover {
        .thim-widget-icon-box {
            transition: background-color 0.5s ease;
            .icon-box-title, .desc-icon-box p {
                color: #fff !important;
            }
            .boxes-icon {
                border-color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            .smicon-read {
                background-color: #fff;
                border-color: #fff !important;
            }
        }
        .line-bottom {
            background-color: #fff;
        }
    }
}

.icon-box-title {
    position: relative;
    .line-bottom {
        width: 90px;
        background-color: #202020;
        height: 1px;
        display: block;
        margin: 20px auto 30px auto;
    }
}

.text-center {
    .icon-box-title {
        .line-bottom {
            margin: 20px auto 30px auto;
        }
    }
}

.text-left {
    .icon-box-title {
        .line-bottom {
            margin: 20px auto 30px 0;
        }
    }
}

.text-right {
    .icon-box-title {
        .line-bottom {
            margin: 20px 0 30px auto;
        }
    }
}

/** Icon box video **/
.thim-widget-icon-box {
    position: relative;
    overflow: hidden;
    .wrapper-box-icon {
        position: relative;
        z-index: 9;
        &.background-video {
            min-height: 450px;
            .content-inner {
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                .translate(0, -50%);
            }
            .desc-icon-box {
                p {
                    margin: 16px 0 35px;
                }
            }
        }
        &.contact_info {
            .smicon-box {
                margin: 27px 0 -4px;
            }
            .boxes-icon {
                border: 0;
            }
            .heading__primary {
                text-transform: none;
                font-size: 15px;
                line-height: 25px;
                font-weight: 700;
                margin: 0;
            }
            .desc-icon-box {
                p {
                    line-height: 25px;
                    margin: 0;
                }
            }
            a{
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    video {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        max-height: 1000%;
        max-width: 1000%;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
    }
    .heading__primary {
        text-transform: uppercase;
    }
    .desc-icon-box {
        p {
            line-height: 30px;
            margin: 16px 0 45px;
        }
    }
    .bg-video-play {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: solid 7px #333;
        display: block;
        margin: 0px auto 0 auto;
        line-height: 90px;
        cursor: pointer;
        background: transparent;
        color: #333;
        text-align: center;
        &:before {
            font: normal normal normal 40px/1 FontAwesome;
            content: "\f04b";
            margin-left: 11px;
        }
        &.bg-pause {
            line-height: 90px;
            &:before {
                content: "\f04c";
                font-size: 36px;
                margin-left: 0
            }
        }
    }
}

/** Box icon overlay **/
.wrapper-box-icon {
    &.overlay {
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        .transition(all 0.3s);
        &:hover{
            background: #000;
            .icon-images{
                img{
                    .scale(1.1, 1.1);
                }
            }
        }
        .icon-images{
            display: inline-block;
            img{
                .transition(all 0.3s);
                margin-top: 28px;
            }
        }
        .smicon-box {
            padding: 7px 0;
            overflow: hidden;
            min-height: 150px;
        }
        .heading__primary {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            line-height: 30px;
            margin: 20px 0 10px;
            padding-right: 45px;
        }
        .boxes-icon {
            border: 0;
            overflow: hidden;
        }
        .smicon-read {
            border: 0;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            padding: 0;
            margin-top: 0px;
            i {
                font-size: 11px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        .content-inner {
            padding-bottom: 10px;
        }
    }
}


