/* Bootstrap */
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#masthead {

    padding: 0;
    .transition(all 0.5s ease-in-out);
    .navigation {
        padding-top: 30px;
        transition: all ease-in-out .5s;
    }
    &.affix {
        .navigation {

        }
        &.menu-hidden {
            .translate(0, -100%);
            .wrapper-container.mobile-menu-open & {
                .translate(0, 0);
            }
            body.thim-search-active & {
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
            }
        }
    }
}

body.thim-search-active {
    #masthead {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

.navigation {
    .width-navigation,
    .width-logo {
        padding: 0;
        img {
            margin-bottom: 20px;
        }
    }
    .navbar-nav li {
        .sub-menu {
            li {
                padding: 0 20px;
                a, > span.disable_link {
                    .transition(all 0.3s);
                    padding: 12px 0;
                    display: block;
                }
                &.menu-item-has-children {
                    > a, > span.disable_link {
                        &:after {
                            content: "\f178";
                            font: normal normal normal 14px/1 FontAwesome;
                            float: right;
                            line-height: 25px;
                            display: none;
                        }
                    }
                }
            }
        }
        > .sub-menu {
            margin-left: 0;
        }
    }

    .menu-right {
        padding-left: 0;
        ul {
            margin: 0;
            list-style: none;
            line-height: 20px;
            li {
                list-style: none;
                display: inline-block;
                padding-left: 0;
                padding-right: 0;
                vertical-align: middle;
                &:last-child {
                    >div.minicart_hover{
                        padding-right: 15px;
                    }
                }
                >div{
                    padding: 6px 10px 34px;
                }
                .search-form {
                    position: relative;
                    height: 60px;
                    width: 50px;
                    label {
                        margin: 0;
                    }
                    &:after {
                        width: 30px;
                        cursor: pointer;
                        text-align: center;
                        line-height: 20px;
                        position: absolute;
                        right: 10px;
                        top: 5px;
                        display: inline-block;
                    }
                    .search-field {
                        width: 200px;
                        position: absolute;
                        right: 0;
                        bottom: -35px;
                        height: 35px;
                        .translate(0, 20px);
                        .transition(all 0.3s);
                        .opacity(0);
                        visibility: hidden;
                    }
                    &:hover {
                        .search-field {
                            .translate(0, 0);
                            .opacity(1);
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.site-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    &.sticky-header{
        position: fixed;
    }
    .sticky-logo {
        display: none;
    }
    &.affix{
        box-shadow: 0 1px 5px -2px rgba(42, 42, 42, .4);
        .navbar-nav {
            > li {
                > a, > span.disable_link {
                    padding: 6px 20px 34px;
                    line-height: 20px;
                    .transition(all .3s linear);
                    &.icon-toggle {
                        padding: 0;
                    }
                }
            }
        }
        .no-sticky-logo {
            display: none;
        }
        .sticky-logo {
            display: inline-block;
        }
    }
    .navbar-nav {
        text-align: right;
        > li {
            float: none;
            display: inline-block;
            zoom: 1;
            max-height: 60px;
        }
    }
}

@media (min-width: 769px) {
    .mobile-menu-container {
        display: none;
    }

    .navigation {
        position: relative;
        .tm-table {
            display: table;
            table-layout: fixed;
            max-width: none;
            width: auto;
            min-width: 100%;
        }
        nav {
            position: static;
        }
    }

    .navbar-nav > li.multicolumn [class*="submenu_columns"] .sub-menu {
        position: static !important;
        display: block !important;
        width: auto;
        border: none;
        box-shadow: 0 0 0;
        padding: 0;
    }

    .navbar-nav a i.fa {
        margin-right: 5px;
    }

    .navbar-nav > li.multicolumn [class*="submenu_columns"] > li, .navbar-nav [class*="submenu_columns"] > aside {
        float: left;
    }

    .navbar-nav > li.multicolumn [class*="submenu_columns"] > aside {
        padding: 15px;
    }

    .submenu-widget {
        padding: 10px;
    }

    .navbar-nav .submenu_columns_2 > li, .navbar-nav .submenu_columns_2 > aside {
        width: 50%;
    }

    .navbar-nav .submenu_columns_3 > li, .navbar-nav .submenu_columns_3 > aside {
        width: 33.33333%;
    }

    .navbar-nav .submenu_columns_4 > li, .navbar-nav .submenu_columns_4 > aside {
        width: 25%;
    }

    .navbar-nav .submenu_columns_5 > li, .navbar-nav .submenu_columns_5 > aside {
        width: 20%;
    }

    .navbar-nav .dropdown_full_width {
        position: static;
    }

    .navbar-nav li.multicolumn .submenu_columns_1, .navbar-nav li.widget_area .submenu_columns_1 {
        width: 233px;
    }

    .navbar-nav li.multicolumn .submenu_columns_1 li, .navbar-nav li.widget_area .submenu_columns_1 li {
        width: 100%;
    }

    .navbar-nav li.multicolumn .submenu_columns_2, .navbar-nav li.widget_area .submenu_columns_2 {
        width: 466px;
    }

    .navbar-nav li.multicolumn .submenu_columns_3, .navbar-nav li.widget_area .submenu_columns_3 {
        width: 699px;
    }

    .navbar-nav li.multicolumn .submenu_columns_4, .navbar-nav li.widget_area .submenu_columns_4 {
        width: 932px;
    }

    .navbar-nav li.multicolumn .submenu_columns_5, .navbar-nav li.widget_area .submenu_columns_5 {
        width: 1165px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_1 {
        left: -80px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_2 {
        left: -191px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_3 {
        left: -310px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_4 {
        left: -425px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_5 {
        left: -545px;
    }

    .navbar-nav li.dropdown_full_width .megacol {
        left: 15px;
        right: 15px;
        width: auto;
    }

    .navbar-nav > li > span:hover {
        background: transparent;
    }

    .navbar-nav [class*="submenu_columns"] aside {
        float: left;
        text-align: left;
    }

    .widget_area aside ul li a,
    .widget_area aside ul li span {
        padding: 10px 25px 10px 0;
    }

    .widget_area .widget_recent_entries li {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .drop_to_right > .sub-menu {
        left: auto;
        right: 12px;
    }

    .drop_to_center.standard > .sub-menu {
        left: 50%;
    }

    .navbar-nav > li > .sub-menu {
        &.submenu-widget, &.multicolumn {
            > li {
                float: left;
                padding: 15px;
            }
            &.submenu_columns_1 {
                > li {
                    float: none;
                }
            }
        }
    }

    nav .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    /****************megamenu**************/
    nav {
        ul, ul ul, ul ul ul {
            margin: 0;
            li {
                margin: 0;
            }
        }
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background: transparent;
    }

    .navbar-nav {
        float: none;
        li {
            .sub-menu {
                display: none;
                position: absolute;
                left: 0;
                top: auto;
                z-index: 9999;
                li {
                    list-style: none;
                    text-align: left;
                    position: relative;
                    a {
                        text-decoration: none;
                    }
                }
            }
            &:hover {
                > .sub-menu {
                    li {
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        li {
            .sub-menu {
                min-width: 260px;
                margin-left: 0;
                li {
                    width: 100%;
                }
            }
        }
        li {
            .sub-menu .sub-menu {
                right: 100%;
                left: auto;
                top: 0;
            }
            .sub-menu li:hover .sub-menu {
                height: auto;
                z-index: 999;
            }
        }

        li.multicolumn {
            .megacol {
                > li {
                    padding: 10px 15px;
                    > a, > span {
                        font-weight: bold;
                        padding: 5px 0;;
                        display: block;
                        &:hover {
                            background: transparent;
                        }
                    }
                    > a:hover {
                    }
                }
                .sub-menu {
                    background: transparent;
                    display: block !important;
                    a, span.disable_link {
                        padding: 5px 0;
                        display: block;
                    }
                }
            }
        }

    }

    .navbar-nav {
        > li {
            vertical-align: middle;
            display: inline-block;
            float: none;
            > a, > span.disable_link {
                padding: 6px 20px 34px;
                display: inline-block;
                position: relative;
                line-height: 20px;
                &.icon-toggle {
                    padding: 0;

                }
                > span {
                    line-height: 20px;
                }
            }
        }
    }

    .nav > li > .sub-menu {
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
        .menu-category-description {
            text-align: justify;
        }
    }

    .nav > li.widget_area > .sub-menu {
        padding-right: 0;
        padding-left: 0;
        aside {
            padding: 15px;
        }
    }

    .nav > li.multicolumn > .sub-menu .sub-menu, .nav > li.widget_area > .sub-menu .sub-menu {
        box-shadow: 0 0 0;
    }

    .navigation {
        .navbar-nav {
            > li {
                > a, > span {
                    text-transform: uppercase;
                    position: relative;
                    padding: 6px 20px 34px;
                    &.icon-toggle {
                        padding: 0;
                        position: absolute;
                        top: 6px;
                        right: 0;
                        margin: 0;
                        line-height: 24px;
                    }
                }
                &:not(.menu-item-has-children){
                    &:last-child {
                        > a, > span {
                            padding-right: 0;
                            &:before {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .admin-bar {
        .site-header {
            top: 32px;
        }
    }

    .mobile-logo-custom {
        .sticky-logo-mobile, .no-sticky-logo-mobile {
            display: none;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {

    .navbar-nav li.multicolumn .submenu_columns_1, .navbar-nav li.widget_area .submenu_columns_1 {
        width: 194px;
    }

    .navbar-nav li.multicolumn .submenu_columns_2, .navbar-nav li.widget_area .submenu_columns_2, {
        width: 388px;
    }

    .navbar-nav li.multicolumn .submenu_columns_3, .navbar-nav li.widget_area .submenu_columns_3 {
        width: 582px;
    }

    .navbar-nav li.multicolumn .submenu_columns_4, .navbar-nav li.widget_area .submenu_columns_4 {
        width: 776px;
    }

    .navbar-nav li.multicolumn .submenu_columns_5, .navbar-nav li.widget_area .submenu_columns_5 {
        width: 970px;
    }

    .navbar-nav li.dropdown_full_width [class*="submenu_columns"].sub-menu {
        width: 100%;
    }

    .navbar-nav li.drop_to_center .submenu_columns_1 {
        left: -55px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_2 {
        left: -152px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_3 {
        left: -252px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_4 {
        left: -347px;
    }

    .navbar-nav li.drop_to_center .submenu_columns_5 {
        left: -450px;
    }
}

@media (max-width: 768px) {
    #masthead.affix-top{
        top: 0;
        position: absolute;
    }
    .navigation {
        .width-logo {
            text-align: left;
            padding-left: 15px;
        }
    }

    body.admin-bar {
        .site-header {
            top: 0;
            &.sticky-header{
                top: 46px;
            }
        }
        //.mobile-menu-open{
        //    .site-header {
        //        .transition(none) !important;
        //        &.sticky-header{
        //            top: 0;
        //
        //        }
        //    }
        //}
    }

    .menu-mobile-effect {
        &.navbar-toggle {
            float: right;
            display: inline-block;
            cursor: pointer;
            z-index: 1;
            vertical-align: middle;
            width: 30px;
            height: 28px;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 15px;
            margin: 0;
            margin-top: -14px;
            span.icon-bar {
                width: 22px;
                border-radius: 0;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 6px;
                background: #111;
                &:nth-child(2) {
                    top: 13px;
                }
                &:nth-child(3) {
                    top: 20px;
                }

                .transition(all 0.3s ease-in-out);
                .mobile-menu-open & {
                    .rotate(-45deg);
                    top: 13px;
                    &:nth-child(2) {
                        .opacity(0);
                    }
                    &:nth-child(3) {
                        .rotate(45deg);
                        top: 13px;
                    }
                }
            }
        }
    }

    .wrapper-container {
        position: relative;
        .mobile-effect.mobile-menu-container {

        }
        &.mobile-menu-open {
            overflow: hidden;
            height: 100vh !important;
            margin-top: 0 !important;
            body.admin-bar &{
                height: calc(~"100vh - 46px") !important;
                height: -webkit-calc(~"100vh - 46px") !important;
                height: -moz-calc(~"100vh - 46px") !important;
            }
            .content-pusher {
                .translate(-300px, 0);
                &:after {
                    .opacity(1);
                }
            }

            .mobile-effect.mobile-menu-container {
                visibility: visible;
                box-shadow: 0 1px 5px -2px rgba(42, 42, 42, .4);
            }
        }
    }

    .content-pusher {

        right: 0;
        position: relative;
        .transition(all 0.5s);
        height: 100%;
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            background: rgba(0, 0, 0, 0.2);
            content: '';
            .opacity(0);
            -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            z-index: 9;
        }
    }

    .mobile-menu-container {
        right: -300px;
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 300px;
        height: 100%;
        overflow: auto;
        > .nav {
            margin-top: 15px;
            padding-left: 5px;
            padding-right: 5px;
        }
        ul {
            float: none;
            &.sub-menu {
                background-image: none !important;
                margin-top: 0;
                margin-bottom: 0;
                overflow: hidden;
                display: none;
            }
            li {
                float: none;
                &.current-menu-parent {
                    ul.sub-menu {
                        display: block;
                    }
                }
                &.disable_link {
                    margin-left: 20px;
                }
                .icon-toggle {
                    position: absolute;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    line-height: 20px;
                    top: 0;
                }
                a {
                    display: block;
                    outline: none;
                    -webkit-transition: background 0.3s, box-shadow 0.3s;
                    transition: background 0.3s, box-shadow 0.3s;
                    &:hover,
                    :focus {
                        background: transparent;
                    }
                }
            }
        }
    }

    .navbar-nav {
        margin: 0;
        li {
            list-style: none;
            position: relative;
        }
    }

    .site-header {
        .navigation nav {
            display: none;
        }
    }

    .sub-menu {
        position: relative;
        li {
            border: none !important;
            a {
                padding-left: 25px !important;
            }
        }
    }

    .navbar-nav .sub-menu {
        &:before {
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            left: 2px;
            top: 1px;
            display: block;
        }

        li {
            margin-top: 9px;
            &:before {
                content: '';
                width: 7px;
                height: 1px;
                position: absolute;
                left: 3px;
                top: 10px;
                padding: 0;
                display: block;
            }
        }
        .sub-menu {
            margin-left: 20px;
        }
    }

    .nav > li > span {
        padding: 10px 15px;
    }

    .site-header .navigation {
        padding: 10px 0;
    }

    .mobile-menu-container ul li span.icon-toggle {
        cursor: pointer;
    }
}

// default menu
.menu-main-menu {
    > .menu {
        ul li {
            display: inline-block;
            list-style: none;
            padding: 10px 15px;
        }
    }
}

#magic-line {
    position: absolute;
    height: 2px;
    z-index: 99999;
    bottom: 26px;
}

/** Mobile Login Link **/
.thim-mobile-login{
    padding: 20px 20px 0;
    display: none;
    a{
        color: #fff;
        font-size: 13px;
        font-weight: 400;
    }
    .thim-link-login{
        a{
            padding: 0 12px;
            line-height: 20px;
            display: inline-block;
            &:first-child{
                border-right: 1px solid #3e3d3d;
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }
}