#toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    font-weight: 700;
    .widget_login-menu {
        float: right;
        .thim-widget-login-menu {
            line-height: 30px;
            a {
                padding: 0 12px;
                line-height: 20px;
                display: inline-block;
                &:last-child {
                    padding-right: 0;
                }
                &:first-child {
                    padding-left: 0;
                }
            }
            .thim-link-login {
                a {
                    &:first-child {
                        border-right: 1px solid #3e3d3d;
                    }
                }
            }
        }
    }
}

.thim-have-any-question {
    float: left;
    line-height: 30px;
    .mobile,
    .email {
        display: inline-block;
        margin-left: 11px;
        line-height: 30px;
        .fa {
            margin-right: 7px;
        }
    }
}

