/*
Theme Name: Eduma
Theme URI: http://demo.thimpress/eduma
Author: ThimPress
Author URI: http://thimpress.com
Description: Theme Descriptions
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: eduma
Domain Path: /languages/
*/

.text-right {
	text-align:right;
}

.text-left {
	text-align:left;
}

.list-inline {
	margin-right:-5px;
	margin-left: auto;
}

dd {
	margin-right:0;
	margin-left: auto;
}

blockquote {
	border-right:5px solid #eee;
	border-left: none;
}

.blockquote-reverse,blockquote.pull-left {
	padding-left:15px;
	padding-right:0;
	border-left:5px solid #eee;
	border-right:0;
	text-align:left;
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
	float:right;
}

.col-xs-pull-12 {
	left:100%;
	right: auto;
}

.col-xs-pull-11 {
	left:91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left:83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left:75%;
	right: auto;
}

.col-xs-pull-8 {
	left:66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left:58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left:50%;
	right: auto;
}

.col-xs-pull-5 {
	left:41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left:33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left:25%;
	right: auto;
}

.col-xs-pull-2 {
	left:16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left:8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left:auto;
	right: auto;
}

.col-xs-push-12 {
	right:100%;
	left: auto;
}

.col-xs-push-11 {
	right:91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right:83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right:75%;
	left: auto;
}

.col-xs-push-8 {
	right:66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right:58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right:50%;
	left: auto;
}

.col-xs-push-5 {
	right:41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right:33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right:25%;
	left: auto;
}

.col-xs-push-2 {
	right:16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right:8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right:auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right:100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right:91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right:83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right:75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right:66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right:58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right:50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right:41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right:33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right:25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right:16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right:8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right:0;
	margin-left: auto;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	float: right;
}
@media (min-width:768px) {

	.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
		float:right;
	}

	.col-xs-pull-12 {
		left:100%;
		right: auto;
	}

	.col-xs-pull-11 {
		left:91.66666667%;
		right: auto;
	}

	.col-xs-pull-10 {
		left:83.33333333%;
		right: auto;
	}

	.col-xs-pull-9 {
		left:75%;
		right: auto;
	}

	.col-xs-pull-8 {
		left:66.66666667%;
		right: auto;
	}

	.col-xs-pull-7 {
		left:58.33333333%;
		right: auto;
	}

	.col-xs-pull-6 {
		left:50%;
		right: auto;
	}

	.col-xs-pull-5 {
		left:41.66666667%;
		right: auto;
	}

	.col-xs-pull-4 {
		left:33.33333333%;
		right: auto;
	}

	.col-xs-pull-3 {
		left:25%;
		right: auto;
	}

	.col-xs-pull-2 {
		left:16.66666667%;
		right: auto;
	}

	.col-xs-pull-1 {
		left:8.33333333%;
		right: auto;
	}

	.col-xs-pull-0 {
		left:auto;
		right: auto;
	}

	.col-xs-push-12 {
		right:100%;
		left: auto;
	}

	.col-xs-push-11 {
		right:91.66666667%;
		left: auto;
	}

	.col-xs-push-10 {
		right:83.33333333%;
		left: auto;
	}

	.col-xs-push-9 {
		right:75%;
		left: auto;
	}

	.col-xs-push-8 {
		right:66.66666667%;
		left: auto;
	}

	.col-xs-push-7 {
		right:58.33333333%;
		left: auto;
	}

	.col-xs-push-6 {
		right:50%;
		left: auto;
	}

	.col-xs-push-5 {
		right:41.66666667%;
		left: auto;
	}

	.col-xs-push-4 {
		right:33.33333333%;
		left: auto;
	}

	.col-xs-push-3 {
		right:25%;
		left: auto;
	}

	.col-xs-push-2 {
		right:16.66666667%;
		left: auto;
	}

	.col-xs-push-1 {
		right:8.33333333%;
		left: auto;
	}

	.col-xs-push-0 {
		right:auto;
		left: auto;
	}

	.col-xs-offset-12 {
		margin-right:100%;
		margin-left: auto;
	}

	.col-xs-offset-11 {
		margin-right:91.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-10 {
		margin-right:83.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-9 {
		margin-right:75%;
		margin-left: auto;
	}

	.col-xs-offset-8 {
		margin-right:66.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-7 {
		margin-right:58.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-6 {
		margin-right:50%;
		margin-left: auto;
	}

	.col-xs-offset-5 {
		margin-right:41.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-4 {
		margin-right:33.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-3 {
		margin-right:25%;
		margin-left: auto;
	}

	.col-xs-offset-2 {
		margin-right:16.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-1 {
		margin-right:8.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-0 {
		margin-right:0;
		margin-left: auto;
	}

}

@media (min-width:992px) {

	.col-xs-pull-12 {
		left:100%;
		right: auto;
	}

	.col-xs-pull-11 {
		left:91.66666667%;
		right: auto;
	}

	.col-xs-pull-10 {
		left:83.33333333%;
		right: auto;
	}

	.col-xs-pull-9 {
		left:75%;
		right: auto;
	}

	.col-xs-pull-8 {
		left:66.66666667%;
		right: auto;
	}

	.col-xs-pull-7 {
		left:58.33333333%;
		right: auto;
	}

	.col-xs-pull-6 {
		left:50%;
		right: auto;
	}

	.col-xs-pull-5 {
		left:41.66666667%;
		right: auto;
	}

	.col-xs-pull-4 {
		left:33.33333333%;
		right: auto;
	}

	.col-xs-pull-3 {
		left:25%;
		right: auto;
	}

	.col-xs-pull-2 {
		left:16.66666667%;
		right: auto;
	}

	.col-xs-pull-1 {
		left:8.33333333%;
		right: auto;
	}

	.col-xs-pull-0 {
		left:auto;
		right: auto;
	}

	.col-xs-push-12 {
		right:100%;
		left: auto;
	}

	.col-xs-push-11 {
		right:91.66666667%;
		left: auto;
	}

	.col-xs-push-10 {
		right:83.33333333%;
		left: auto;
	}

	.col-xs-push-9 {
		right:75%;
		left: auto;
	}

	.col-xs-push-8 {
		right:66.66666667%;
		left: auto;
	}

	.col-xs-push-7 {
		right:58.33333333%;
		left: auto;
	}

	.col-xs-push-6 {
		right:50%;
		left: auto;
	}

	.col-xs-push-5 {
		right:41.66666667%;
		left: auto;
	}

	.col-xs-push-4 {
		right:33.33333333%;
		left: auto;
	}

	.col-xs-push-3 {
		right:25%;
		left: auto;
	}

	.col-xs-push-2 {
		right:16.66666667%;
		left: auto;
	}

	.col-xs-push-1 {
		right:8.33333333%;
		left: auto;
	}

	.col-xs-push-0 {
		right:auto;
		left: auto;
	}

	.col-xs-offset-12 {
		margin-right:100%;
		margin-left: auto;
	}

	.col-xs-offset-11 {
		margin-right:91.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-10 {
		margin-right:83.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-9 {
		margin-right:75%;
		margin-left: auto;
	}

	.col-xs-offset-8 {
		margin-right:66.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-7 {
		margin-right:58.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-6 {
		margin-right:50%;
		margin-left: auto;
	}

	.col-xs-offset-5 {
		margin-right:41.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-4 {
		margin-right:33.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-3 {
		margin-right:25%;
		margin-left: auto;
	}

	.col-xs-offset-2 {
		margin-right:16.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-1 {
		margin-right:8.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-0 {
		margin-right:0;
		margin-left: auto;
	}

}

@media (min-width:1200px) {

	.col-xs-pull-11 {
		left:91.66666667%;
		right: auto;
	}

	.col-xs-pull-10 {
		left:83.33333333%;
		right: auto;
	}

	.col-xs-pull-9 {
		left:75%;
		right: auto;
	}

	.col-xs-pull-8 {
		left:66.66666667%;
		right: auto;
	}

	.col-xs-pull-7 {
		left:58.33333333%;
		right: auto;
	}

	.col-xs-pull-6 {
		left:50%;
		right: auto;
	}

	.col-xs-pull-5 {
		left:41.66666667%;
		right: auto;
	}

	.col-xs-pull-4 {
		left:33.33333333%;
		right: auto;
	}

	.col-xs-pull-3 {
		left:25%;
		right: auto;
	}

	.col-xs-pull-2 {
		left:16.66666667%;
		right: auto;
	}

	.col-xs-pull-1 {
		left:8.33333333%;
		right: auto;
	}

	.col-xs-pull-0 {
		left:auto;
		right: auto;
	}

	.col-xs-push-12 {
		right:100%;
		left: auto;
	}

	.col-xs-push-11 {
		right:91.66666667%;
		left: auto;
	}

	.col-xs-push-10 {
		right:83.33333333%;
		left: auto;
	}

	.col-xs-push-9 {
		right:75%;
		left: auto;
	}

	.col-xs-push-8 {
		right:66.66666667%;
		left: auto;
	}

	.col-xs-push-7 {
		right:58.33333333%;
		left: auto;
	}

	.col-xs-push-6 {
		right:50%;
		left: auto;
	}

	.col-xs-push-5 {
		right:41.66666667%;
		left: auto;
	}

	.col-xs-push-4 {
		right:33.33333333%;
		left: auto;
	}

	.col-xs-push-3 {
		right:25%;
		left: auto;
	}

	.col-xs-push-2 {
		right:16.66666667%;
		left: auto;
	}

	.col-xs-push-1 {
		right:8.33333333%;
		left: auto;
	}

	.col-xs-push-0 {
		right:auto;
		left: auto;
	}

	.col-xs-offset-12 {
		margin-right:100%;
		margin-left: auto;
	}

	.col-xs-offset-11 {
		margin-right:91.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-10 {
		margin-right:83.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-9 {
		margin-right:75%;
		margin-left: auto;
	}

	.col-xs-offset-8 {
		margin-right:66.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-7 {
		margin-right:58.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-6 {
		margin-right:50%;
		margin-left: auto;
	}

	.col-xs-offset-5 {
		margin-right:41.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-4 {
		margin-right:33.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-3 {
		margin-right:25%;
		margin-left: auto;
	}

	.col-xs-offset-2 {
		margin-right:16.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-1 {
		margin-right:8.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-0 {
		margin-right:0;
		margin-left: auto;
	}
}

caption {
	text-align:right;
}

th {
	text-align:right;
}

.radio label,.checkbox label {
	padding-right:20px;
	padding-left: 0;
}

.radio input[type=radio],.radio-inline input[type=radio],
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] {
	margin-right:-20px;
	margin-left: auto;
}

.radio-inline,.checkbox-inline {
	padding-right:20px;
	padding-left: 0;
}

.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline {
	margin-right:10px;
	margin-left: auto;
}

.has-feedback .form-control {
	padding-left:42.5px;
	padding-right: 0;
}

.form-control-feedback {
	left:0;
	right: auto;
}

.form-horizontal .has-feedback .form-control-feedback {
	left:15px;
	right: auto;
}

.nav-tabs>li {
	float:right;
}

.nav-tabs>li>a {
	margin-left:2px;
	margin-right: auto;
}

.nav-tabs.nav-justified>li>a {
	margin-left:0;
	margin-right: auto;
}

.nav-pills>li {
	float:right;
}

.nav-pills>li+li {
	margin-right:2px;
	margin-left: auto;
}

.nav-stacked>li+li {
	margin-right:0;
	margin-left: auto;
}

.nav-tabs-justified>li>a {
	margin-left:0;
	margin-right: auto;
}



/*** End @import "page.less" ***/
.navbar-brand {
	float: right;
}

.navbar-toggle {
	float: left;
	margin-left: 15px;
	margin-right: auto;
}
.pagination > li > a, .pagination > li > span {
	float: right;
	margin-right: -1px;
	margin-left: auto;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-right: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	margin-left: auto;
}
.alert-dismissable, .alert-dismissible {
	padding-left: 35px;
	padding-right: 0;
}

.alert-dismissable .close, .alert-dismissible .close {
	left: -21px;
	right: auto;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
	right: 0;
	left: auto;
}
blockquote.alignright, img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.alignleft, img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

.wp-caption-text {
	padding-left: 10px;
	padding-right: 0;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.gallery-item {
	float: right;
	margin: 0 0 4px 4px;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: right;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.bypostauthor > article .fn:before {
	margin: 0 -2px 0 2px;
}

ul, ol {
	margin-right: 25px;
	margin-left: auto;
}

ol {
	margin-right: 15px;
	margin-left: auto;
}

ul ul, ul ol, ol ol, ol ul {
	margin: 4px 30px 5px 0;
}

caption, th, td {
	text-align: right;
}
#back-to-top {
	left: 15px;
	right: auto;
}

.loop-pagination, .pagination {
	text-align: right;
}

.loop-pagination li, .pagination li {
	margin-left: 6px;
	margin-right: auto;
}

.col-1-1, .col-1-2, .col-1-3, .col-1-4, .col-1-5, .col-1-6, .col-2-3, .col-2-5, .col-3-4, .col-3-5, .col-4-5, .col-5-6 {
	float: right;
}

.lcr-sidebar .page-container .page-contents {
	float: left;
}

.lcr-sidebar .page-container #secondary {
	float: right;
}

.right-sidebar .page-container .page-contents {
	float: left;
}

.right-sidebar .page-container #secondary {
	float: right;
}

.lrc-sidebar .page-container {
	float: left;
}

.lrc-sidebar .page-container .page-contents {
	float: left;
}

.lrc-sidebar .page-container #secondary {
	float: right;
}
.woocommerce #content .comments-area .comment-list .comment-list-inner .comments-title:before,
.woocommerce .comments-area .comment-list .comment-list-inner .comments-title:before,
.comments-area .comment-list .comment-list-inner .comments-title:before {
	right: 0;
	left: auto;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .avatar,
.woocommerce .comments-area .comment-list .comment-list-inner li .avatar,
.comments-area .comment-list .comment-list-inner li .avatar {
	float: right;
	margin-left: 30px;
	margin-right: auto;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-left,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-left,
.comments-area .comment-list .comment-list-inner li .comment-left {
	float: right;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-awaiting-moderation,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-awaiting-moderation,
.comments-area .comment-list .comment-list-inner li .comment-awaiting-moderation {
	margin-right: 20px;
	margin-left: auto;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-extra-info .author,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-extra-info .author,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .author,
.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-extra-info .date,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-extra-info .date,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .date {
	margin-left: 15px;
	margin-right: auto;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link,
.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-reply-link,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-reply-link,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-reply-link {
	float: left;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link,
.woocommerce .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link,
.comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link {
	margin-right: 15px;
	margin-left: auto;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner li .content-comment,
.woocommerce .comments-area .comment-list .comment-list-inner li .content-comment,
.comments-area .comment-list .comment-list-inner li .content-comment {
	padding: 15px 0 0 30px;
}

.woocommerce #content .comments-area .comment-list .comment-list-inner .children,
.woocommerce .comments-area .comment-list .comment-list-inner .children,
.comments-area .comment-list .comment-list-inner .children {
	margin-right: 100px;
	margin-left: auto;
}

.woocommerce #content .comments-area .comment-respond-area #respond.comment-respond .comment-notes:before,
.woocommerce .comments-area .comment-respond-area #respond.comment-respond .comment-notes:before,
.comments-area .comment-respond-area #respond.comment-respond .comment-notes:before {
	right: 0;
	left: auto;
}

.woocommerce #content .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
.woocommerce .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
.woocommerce #content .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email,
.woocommerce .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email,
.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email,
.woocommerce #content .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-url,
.woocommerce .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-url,
.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-url {
	float: right;
}

.woocommerce #content .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
.woocommerce .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
.woocommerce #content .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email,
.woocommerce .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email,
.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email {
	margin-left: 3.5%;
	margin-right: auto;
}

.flexslider .flex-direction-nav .flex-prev {
	right: -36px;
	left: auto;
}

.flexslider .flex-direction-nav .flex-next {
	left: -36px;
	right: auto;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	right: 5px;
	left: auto;
}

.flexslider:hover .flex-direction-nav .flex-next {
	left: 5px;
	right: auto;
}

.list-info {
	margin-right: 0;
	margin-left: auto;
}

.list-info li i {
	margin-left: 5px;
	margin-right: auto;
}

.top_site_main .page-title-wrapper {
	text-align: right;
}

.top_site_main .page-title-wrapper h1, .top_site_main .page-title-wrapper h2 {
	padding-right: 25px;
	padding-left: 0;
}

.top_site_main .page-title-wrapper h1:before, .top_site_main .page-title-wrapper h2:before {
	right: 0;
	margin-left: 22px;
	left: auto;
	margin-right: auto;
}

.breadcrumbs-wrapper .woocommerce-breadcrumb li span, .breadcrumbs-wrapper .thim-breadcrumbs li span, .breadcrumbs-wrapper #breadcrumbs li span {
	margin-left: 5px;
	margin-right: auto;
}

.breadcrumbs-wrapper .woocommerce-breadcrumb li:last-child span, .breadcrumbs-wrapper .thim-breadcrumbs li:last-child span, .breadcrumbs-wrapper #breadcrumbs li:last-child span {
	margin-left: 0;
	margin-right: auto;
}

.breadcrumbs-wrapper .woocommerce-breadcrumb a, .breadcrumbs-wrapper .thim-breadcrumbs a, .breadcrumbs-wrapper #breadcrumbs a {
	margin-left: 15px;
	margin-right: auto;
}

.breadcrumbs-wrapper .woocommerce-breadcrumb a:after, .breadcrumbs-wrapper .thim-breadcrumbs a:after, .breadcrumbs-wrapper #breadcrumbs a:after {
	margin: 0 15px 0 0;
}

.breadcrumbs-wrapper.button-list-gird .display {
	text-align: left;
}

.breadcrumbs-wrapper.button-list-gird .display a, .breadcrumbs-wrapper.button-list-gird .display a i {
	margin-right: 20px;
	margin-left: auto;
}

input[type=radio], input[type=checkbox] {
	margin: -4px 0 0 4px;
}

input[type=radio]:checked:before, input[type=checkbox]:checked:before {
	float: right;
}

input[type=checkbox]:checked:before {
	margin: -3px -4px 0 0;
}

.list-address li i {
	margin-left: 5px;
	float: right;
	margin-right: auto;
}

.background-right {
	background-position: center right;
}

.bg-top-norepeat {
	background-position: top right;
}



.quiz-result {
	float: right;
	margin-left: -300px;
	margin-right: auto;
}

.quiz-result .quiz-result-mark {
	float: right;
}

.quiz-result .quiz-result-summary {
	float: right;
	margin-right: 30px;
	margin-left: auto;
}

@media (min-width: 769px) {

	.navigation .navbar-nav li .sub-menu li.menu-item-has-children > a:after, .navigation .navbar-nav li .sub-menu li.menu-item-has-children > span.disable_link:after {
		float: left;
	}

	.navigation .navbar-nav li > .sub-menu {
		margin-right: 0;
		margin-left: auto;
	}

	.navigation .menu-left {
		padding-right: 0;
		padding-left: 0;
	}

	.navigation .menu-left ul li {
		padding-right: 0;
		padding-left: 0;
	}

	.navigation .menu-left ul li:last-child > div.minicart_hover {
		padding-left: 15px;
		padding-right: 0;
	}

	.navigation .menu-left ul li .search-form:after {
		left: 10px;
		right: auto;
	}

	.navigation .menu-left ul li .search-form .search-field {
		left: 0;
		right: auto;
	}

	.site-header .navbar-nav {
		text-align: left;
	}

}

@media only screen and (min-width: 769px) and (max-width: 1200px) {

	.navigation .menu-left ul li:last-child > div.minicart_hover {
		padding-left: 15px;
		padding-right: 0;
	}

	.navigation .menu-left ul li .search-form:after {
		left: 10px;
		right: auto;
	}

	.navigation .menu-left ul li .search-form .search-field {
		left: 0;
		right: auto;
	}

	.site-header .navbar-nav {
		text-align: left;
	}

}

@media (max-width: 768px) {

	#toolbar .widget_login-menu .thim-widget-login-menu a:last-child {
		padding-left: 0;
		padding-right: 0;
	}

	#toolbar .widget_login-menu .thim-widget-login-menu a:first-child {
		padding-right: 0;
		padding-left: 0;
	}

	#toolbar .widget_login-menu .thim-widget-login-menu .thim-link-login a:first-child {
		border-left: 1px solid #eee;
		border-right: none;
	}

	.thim-have-any-question {
		float: right;
	}

	.thim-have-any-question .mobile, .thim-have-any-question .email {
		margin-right: 11px;
		margin-left: auto;
	}

	.thim-have-any-question .mobile .fa, .thim-have-any-question .email .fa {
		margin-left: 7px;
		margin-right: auto;
	}

	.navigation .navbar-nav li .sub-menu li.menu-item-has-children > a:after, .navigation .navbar-nav li .sub-menu li.menu-item-has-children > span.disable_link:after {
		float: left;
	}

	.navigation .navbar-nav li > .sub-menu {
		margin-right: 0;
		margin-left: auto;
	}

	.navigation .menu-left {
		padding-right: 0;
		padding-left: 0;
	}

	.navigation .menu-left ul li {
		padding-right: 0;
		padding-left: 0;
	}

	.navigation .menu-left ul li:last-child > div.minicart_hover {
		padding-left: 15px;
		padding-right: 0;
	}

	.navigation .menu-left ul li .search-form:after {
		left: 10px;
		right: auto;
	}

	.navigation .menu-left ul li .search-form .search-field {
		left: 0;
		right: auto;
	}

	.site-header .navbar-nav {
		text-align: left;
	}

	.sub-menu li a {
		padding-left: 0 !important;
		padding-right: 25px !important;
	}
	.mobile-menu-container ul li .icon-toggle{
		left: 0;
		right: auto;
	}
	.navbar-nav .sub-menu:before{
		right: 2px;
		left: auto;
	}
	.navbar-nav .sub-menu li:before{
		right: 3px;
		left: auto;
	}
	.menu-mobile-effect.navbar-toggle{
		left: 15px;
		right: auto;
	}
	.wrapper-container .mobile-effect.mobile-menu-container{
		left: -300px;
		right: auto;
	}
	.navigation .width-logo{
		text-align: inherit;
		padding-right: 15px;
	}
	.wrapper-container.mobile-menu-open .content-pusher{
		transform: translate(300px,0);
		-webkit-transform: translate(300px,0);
		-moz-transform: translate(300px,0);
		-ms-transform: translate(300px,0);
		-o-transform: translate(300px,0);
	}
}

/** Loading -> Page **/
.thim-mobile-login .thim-link-login a:first-child {
	border-left: 1px solid #eee;
	padding-right: 0;
	padding-left: 12px;
	border-right: none;
}
.thim-mobile-login .thim-link-login a:last-child{
	padding: 0 12px 0 0;
}
div#preload .cssload-inner.cssload-one {
	right:0;
	left: auto;
}

div#preload .cssload-inner.cssload-two {
	left:0;
	border-left:3px solid #000;
	right: auto;
	border-right: none;
}

div#preload .cssload-inner.cssload-three {
	left:0;
	right: auto;
}

.thim-loading {
	left:0;
	right:50%;
	border-right:2px solid #e4e4e4;
	border-left:2px solid #000;
	margin-right:-30px;
	margin-left: auto;
}

#toolbar .widget_login-menu {
	float:left;
}

#toolbar .widget_login-menu .thim-widget-login-menu .thim-link-login a:first-child {
	border-left:1px solid #eee;
	border-right: none;
}

.thim-have-any-question {
	float:right;
}

.thim-have-any-question .mobile,.thim-have-any-question .email {
	margin-right:11px;
	margin-left: auto;
}

.thim-have-any-question .mobile .fa,.thim-have-any-question .email .fa {
	margin-left:7px;
	margin-right: auto;
}
footer#colophon .footer .row aside {
	padding-right:15px;
	padding-left:15px;
}

footer#colophon .footer .sub-menu,footer#colophon .footer .child {
	margin-right:20px;
	margin-left: auto;
}

footer#colophon .thim-footer-location .info .fa {
	margin-left:20px;
	margin-right: auto;
}

footer#colophon .thim-footer-location .social a {
	margin-left:10px;
	margin-right: auto;
}

footer#colophon .copyleft-area ul li {
	margin-right:15px;
	margin-left: auto;
}

body .page-content-inner .control-panel {
	text-align: left;
}

body .page-content-inner .control-panel .control-btn > a {
	margin-left: 30px;
	margin-right: auto;
}

body .page-content-inner .control-panel .control-btn > a > span {
	margin-left: 10px;
	margin-right: auto;
}

body .page-content-inner .control-panel .control-btn > a > span:last-child {
	margin-left: 0;
	margin-right: auto;
}

body .page-content-inner .control-panel .control-btn > a:last-child {
	margin-left: 0;
	margin-right: auto;
}

article .entry-header .date-meta {
	border-left: 1px solid #eee;
	float: right;
	margin-left: 30px;
	margin-right: auto;
	border-right: none;
}

article .entry-header .entry-contain {
	float: left;
}

article .entry-header .entry-meta li {
	border-left: 1px solid #eee;
	padding-left: 30px;
	margin-left: 25px;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

article .entry-header .entry-meta li:last-child {
	padding-left: 0;
	border-left: 0;
	margin-left: 0;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

.about-author .avatar {
	margin-left: 20px;
	float: right;
	margin-right: auto;
}

.about-author .description {
	float: right;
}

.related-archive ul.archived-posts > li {
	float: right;
}

.related-archive ul.archived-posts > li.format-video .post-formats-wrapper iframe {
	right: 0;
	left: auto;
}

.share-post .single-title:before, .related-archive .single-title:before {
	right: 0;
	left: auto;
}

.tm-single-nav.post-next {
	left: 0;
	text-align: left;
	right: auto;
}

.tm-single-nav.post-next i {
	left: 10px;
	right: auto;
}

.tm-single-nav.post-next .post-entry .post-entry-inner {
	margin: 0 0 0 20px;
}

.tm-single-nav.post-next .post-entry .post-entry-inner h3 {
	padding-right: 10px;
	text-align: right;
	padding-left: 0;
}

.tm-single-nav.post-prev {
	right: 0;
	left: auto;
}

.tm-single-nav.post-prev i {
	right: 10px;
	left: auto;
}

.tm-single-nav.post-prev .post-entry .post-entry-inner {
	margin: 0 20px 0 0;
}

.tm-single-nav.post-prev .post-entry .post-entry-inner h3 {
	padding-left: 10px;
	text-align: right;
	padding-right: 0;
}

.social-networks li:last-child a {
	margin-left: 0;
	margin-right: auto;
}

.social-networks li a {
	margin-left: 30px;
	margin-right: auto;
}

.single-post .page-content article.format-quote blockquote, .page .page-content article.format-quote blockquote {
	padding-right: 50px;
	border-right: none;
	padding-left: 0;
	border-left: none;
}

.single-post .page-content article.format-quote blockquote:before, .page .page-content article.format-quote blockquote:before {
	padding-left: 25px;
	right: -15px;
	left: auto;
	padding-right: 0;
}

.entry-tag-share .post-tag span {
	margin-left: 5px;
	margin-right: auto;
}

.entry-tag-share .thim-social-share {
	float: left;
}

.thim-social-share {
	float: left;
}

.thim-social-share li {
	float: right;
	margin-left: 25px;
	margin-right: auto;
}

.thim-social-share li.google-plus, .thim-social-share li:last-child {
	margin-left: 0;
	margin-right: auto;
}

.thim-about-author .author-avatar {
	float: right;
	margin-left: 30px;
	margin-right: auto;
}

.thim-about-author .author-bio {
	float: left;
}

.thim-author-social li {
	margin-left: 10px;
	margin-right: auto;
}

.thim-author-social li:last-child {
	margin-left: 0;
	margin-right: auto;
}

.entry-navigation-post .prev-post, .entry-navigation-post .next-post {
	float: right;
}

.entry-navigation-post .prev-post {
	text-align: left;
	border-left: 1px solid #eee;
	border-right: none;
}

.search-results .content-archive article .content-inner .post-formats-wrapper {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}



/*** WIDGET ***/

.widget-area aside:after {
	right:0;
	left: auto;
}

.widget-area aside:before {
	right:0;
	left: auto;
}

.widget-area .thim-list-posts.sidebar .article-image {
	float:right;
	margin-left:20px;
	margin-right: auto;
}

.widget-area .thim-list-posts.sidebar .article-date span {
	margin-left:5px;
	margin-right: auto;
}

.widget-area .thim-list-posts.sidebar .article-date span.year {
	margin-left:0;
	margin-right: auto;
}

.widget-area .thim-course-list-sidebar .course-thumbnail {
	float:right;
	margin-left:20px;
	margin-right: auto;
}

.search-form:after {
	left:13px;
	right: auto;
}

.counter-group .counter-block {
	margin-left:30px;
	margin-right: auto;
}

.counter-group .counter-block:last-child {
	margin-left:0;
	margin-right: auto;
}

.thim-owl-carousel-post .owl-item .info .author,.thim-owl-carousel-post .owl-item .info .date {
	padding:0 20px 0 0;
}

.thim-owl-carousel-post .owl-item .info .date {
	padding:0 0 0 20px;
}

.thim-owl-carousel-post .owl-controls {
	left:15px;
	right: auto;
}

.thim-owl-carousel-post .owl-controls .owl-prev,.thim-owl-carousel-post .owl-controls .owl-next {
	margin-right:10px;
	margin-left: auto;
}

.sc_heading .line {
	right:0;
	left: auto;
}

.sc_heading.text-right .line {
	right:0;
	left:auto;
}

.sc_heading.text-center .line {
	left:0;
	right: auto;
}

.sc_heading.text-left {
	left:0;
	right:auto;
}

.thim-widget-accordion .panel-title {
	padding-right:25px;
	padding-left: 0;
}

.thim-widget-accordion .panel-title a {
	padding:0 15px 0 10px;
}

.thim-widget-accordion .panel-title a:before {
	right:0;
	left: auto;
}

.thim-widget-accordion .panel-title a:after {
	float:left;
	left: 10px;
	right: auto;
}

.counter-box {
	border-left:1px solid rgba(255,255,255,.3);
	border-right: none;
}

.counter-box.about-us {
	border-left:1px solid #eee;
	border-right: none;
}

.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-prev,.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-next {
	right:auto;
	left:10px;
}

.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-prev .fa,.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-next .fa {
	right:0;
	left: auto;
}

.thim-carousel-course-categories .owl-carousel .owl-buttons .owl-next {
	right:10px;
	left: auto;
}

.thim-carousel-course-categories .owl-carousel:hover .owl-buttons .owl-prev .fa,.thim-carousel-course-categories .owl-carousel:hover .owl-buttons .owl-next .fa {
	left:0;
	right:auto;
}

.thim-widget-tab .nav-tabs li a {
	margin-left:3px;
	margin-right: auto;
}

.thim-widget-tab .nav-tabs li a .fa {
	margin-left:8px;
	margin-right: auto;
}

.thim-widget-tab .nav-tabs li:last-child a {
	margin-left:0;
	margin-right: auto;
}

.thim-widget-tab .nav-tabs li:last-child.active:before {
	left:0;
	right: auto;
}

.thim-widget-tab .nav-tabs li:last-child.active:after {
	left:0;
	right: auto;
}

.thim-widget-tab .nav-tabs li.active:before {
	right:0;
	left:3px;
}

.thim-widget-tab .nav-tabs li.active:after {
	right:0;
	left:3px;
}

.site-main .widget_text .widget-title {
	padding-right:32px;
	padding-left: 0;
}

.site-main .widget_text .widget-title:before {
	right:0;
	left: auto;
}

.thim-list-event .view-all {
	left:0;
	right: auto;
}

.thim-list-event .item-event .time-from {
	float:right;
	text-align:right;
}

.thim-list-event .item-event .event-wrapper {
	float:right;
}

.thim-list-event .item-event .event-wrapper:before {
	right:0;
	left: auto;
}

.thim-list-event .item-event .event-wrapper .meta div {
	margin-left:19px;
	margin-right: auto;
}

.thim-list-event .item-event .event-wrapper .meta div .fa {
	margin-left:2px;
	margin-right: auto;
}

.thim-list-event .item-event .event-wrapper .meta div:last-child {
	margin-left:0;
	margin-right: auto;
}

.thim-list-event .item-event .image {
	float:left;
}

.thim-widget-tab-event .nav-tabs li a {
	margin-left:3px;
	margin-right: auto;
}

.thim-widget-tab-event .nav-tabs li a .fa {
	margin-left:8px;
	margin-right: auto;
}

.thim-widget-tab-event .nav-tabs li:last-child a {
	margin-left:0;
	margin-right: auto;
}

.thim-widget-tab-event .nav-tabs li:last-child.active:before {
	left:0;
	right: auto;
}

.thim-widget-tab-event .nav-tabs li:last-child.active:after {
	left:0;
	right: auto;
}

.thim-widget-tab-event .nav-tabs li.active:before {
	right:0;
	left:3px;
}

.thim-widget-tab-event .nav-tabs li.active:after {
	right:0;
	left:3px;
}

#google-map .captionMap img {
	margin-left:13px;
	float:right;
	margin-right: auto;
}

.collapse-heading a.collapsed:after {
	left:15px;
	right: auto;
}

.iconbox-right .boxes-icon {
	float:right;
	margin-left:15px;
	margin-right: auto;
}

.iconbox-right .content-inner {
	float:right;
}

.smicon-read i {
	margin-right:5px;
	margin-left: auto;
}

.iconbox-left .boxes-icon {
	float: right;
	margin-right: auto;
	margin-left: 15px;
}

.iconbox-left .content-inner {
	float: left;
	text-align: right;
}

.text-right .icon-box-title .line-bottom {
	margin:20px 0 30px auto;
}

.text-left .icon-box-title .line-bottom {
	margin:20px auto 30px 0;
}

.thim-widget-icon-box .bg-video-play.bg-pause:before {
	margin-right:0;
	margin-left: auto;
}

.wrapper-box-icon.overlay .heading__primary {
	padding-left:45px;
	padding-right: 0;
}

.thim-social {
	margin:27px 40px 0 0;
}

.thim-social a {
	margin-left:10px;
	margin-right: auto;
}

.woo-social ul.social_link li a {
	margin-left:10px;
	margin-right: auto;
}

.woo-social ul.social_link li:last-child a {
	margin-left:0;
	margin-right: auto;
}

.thim-widget-gallery-images .owl-prev {
	right:-100px;
	left:auto;
}

.thim-widget-gallery-images .owl-next {
	left:-100px;
	right:auto;
}

.thim-widget-gallery-images:hover .owl-prev {
	right:10px;
	left: auto;
}

.thim-widget-gallery-images:hover .owl-next {
	left:10px;
	right: auto;
}

.owl-carousel .owl-item {
	float:right;
}

.thim-gallery-images-default .item {
	float:right;
}

.thim-widget-courses-searching .courses-searching input[type=text] {
	float:right;
	padding-right:20px;
	padding-left: 0;
}

.thim-widget-courses-searching .courses-searching button {
	float:right;
}

.thim-widget-courses-searching .courses-searching .deskpress-smartsearch,.thim-widget-courses-searching .courses-searching .ob-list-search {
	text-align:right;
}

.thim-widget-courses-searching .courses-searching ul.courses-list-search {
	text-align:right;
}

.thim-widget-courses-searching .courses-searching ul.courses-list-search li a {
	padding:0 10px 0 20px;
}

.thim-widget-courses-searching .courses-searching ul.courses-list-search li a i {
	margin-left:10px;
	margin-right: auto;
}

.search-course-list-info {
	margin-right:0;
	margin-left: auto;
}

.search-course-list-info li .fa {
	margin-left:8px;
	margin-right: auto;
}

/* bbPress -> Effect */
.bbpress.forum-archive #bbpress-forums .bbp-search-form #bbp-search-form>.bbp-search-box {
	padding-left:40px;
	padding-right: 0;
}

.bbpress.forum-archive #bbpress-forums .bbp-search-form #bbp-search-form>.bbp-search-box:before {
	left:0;
	right: auto;
}

.bbpress.forum-archive #bbpress-forums .bbp-search-form #bbp-search-form>.bbp-search-box #bbp_search {
	float:left;
}

.bbpress.forum-archive #bbpress-forums .bbp-search-form #bbp-search-form>.bbp-search-box #bbp_search_submit {
	left:0;
	right: auto;
}

.quick-view {
	right:50%;
	margin-right:-20px;
	left: auto;
	margin-left: auto;
}

.product_thumb:before {
	right:0;
	left: auto;
}

.product_thumb .onsale {
	right:15px!important;
	left: auto !important;
}

.product-grid .product__title {
	padding-left:60px;
	padding-right: 0;
}

.product-grid .product__title .price del {
	padding-left:5px;
	padding-right: 0;
}

.product-grid .product__title a.button.add_to_cart_button {
	left:0;
	right: auto;
}

.product-grid .product__title a.button.add_to_cart_button:hover {
	padding-left:20px;
	padding-right:15px;
}

.product-grid .product__title .added_to_cart {
	left:0;
	padding-left:15px;
	padding-right:15px;
	right: auto;
}

.woocommerce div.product .onsale,.woocommerce-page div.product .onsale {
	right:15px!important;
	left: auto;
}

.woocommerce div.product .woo-share,.woocommerce-page div.product .woo-share {
	margin-right:0;
	margin-left: auto;
}

.woocommerce div.product .woo-share li a.facebook,.woocommerce-page div.product .woo-share li a.facebook {
	margin-right:0;
	margin-left: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li {
	float:right;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li a,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li a {
	margin-left:3px;
	margin-right: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li a .fa,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li a .fa {
	margin-left:8px;
	margin-right: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li:last-child a,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li:last-child a {
	margin-left:0;
	margin-right: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li:last-child.active:before,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li:last-child.active:before {
	left:0;
	right: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li:last-child.active:after,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li:last-child.active:after {
	left:0;
	right: auto;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li.active:before,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li.active:before {
	right:0;
	left:3px;
}

.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li.active:after,.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li.active:after {
	right:0;
	left:3px;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist,.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist {
	text-align:right;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text .meta,.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text .meta {
	text-align:right;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text p,.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #comments .commentlist li .comment-text p {
	text-align:right;
}

.woocommerce div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form p,.woocommerce-page div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form p {
	text-align:right;
}

.woocommerce div.product .related-products>h2:after,.woocommerce-page div.product .related-products>h2:after,.woocommerce div.product .upsells-products>h2:after,.woocommerce-page div.product .upsells-products>h2:after {
	right:0;
	left: auto;
}

.woocommerce.woocommerce-cart table.cart td.actions input[type=submit],.woocommerce-page.woocommerce-cart table.cart td.actions input[type=submit] {
	margin-right:10px;
	margin-left: auto;
}

#ship-to-different-address label {
	padding-right:30px;
	padding-left: 0;
}

#ship-to-different-address #ship-to-different-address-checkbox {
	right:0;
	left: auto;
}

.link-images-product {
	right:0;
	left: auto;
}

.woocommerce #respond input#submit.loading:after,.woocommerce a.button.loading:after,.woocommerce button.button.loading:after,.woocommerce input.button.loading:after {
	left:5px;
	right: auto;
}

.woocommerce #customer_login h2:after {
	right:0;
	left:0;
}

.woocommerce #customer_login form.login .lost-password,.woocommerce #customer_login form.register .lost-password {
	text-align:left;
}

.woocommerce .reset_password h2:after {
	right:0;
	left:0;
}

.woocommerce .reset_password form .form-row input[type=submit] {
	margin-right:5px;
	margin-left: auto;
}

.mfp-bg {
	right:0;
	left: auto;
}

.mfp-wrap {
	right:0;
	left: auto;
}

.mfp-container {
	right:0;
	left: auto;
}

.mfp-content {
	text-align:right;
}

.mfp-preloader {
	right:8px;
	left:8px;
}

.mfp-close {
	left:0;
	padding:0 10px 18px 0;
	right: auto;
}

.mfp-image-holder .mfp-close,.mfp-inline-holder .mfp-close {
	left:0;
	padding-left:0;
	right: auto;
	padding-right: 0;
}

.mfp-counter {
	left:0;
	right: auto;
}

.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a {
	right:0;
	margin-right:35px;
	left: auto;
	margin-left: auto;
}

.mfp-arrow-right {
	right:0;
	left: auto;
}

.mfp-arrow-right:after,.mfp-arrow-right .mfp-a {
	border-left:17px solid #fff;
	margin-right:31px;
	margin-left: auto;
	border-right: none;
}

.mfp-arrow-right:before,.mfp-arrow-right .mfp-b {
	margin-right:25px;
	border-left:27px solid #3f3f3f;
	margin-left: auto;
	border-right: none;
}

.mfp-arrow-left {
	left:0;
	right: auto;
}

.mfp-arrow-left:after,.mfp-arrow-left .mfp-a {
	border-right:17px solid #fff;
	margin-right:39px;
	margin-left: auto;
	border-left: none;
}

.mfp-arrow-left:before,.mfp-arrow-left .mfp-b {
	border-right:27px solid #3f3f3f;
	border-left: none;
}

.mfp-iframe-scaler #content {
	right:0;
	left: auto;
}

.mfp-figure:after {
	right:0;
	left:0;
}

.mfp-bottom-bar {
	right:0;
	left: auto;
}

.mfp-title {
	text-align:right;
	padding-left:36px;
	padding-right: 0;
}

@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {

	.mfp-iframe-scaler #content {
		right:0;
		left: auto;
	}

	.mfp-figure:after {
		right:0;
		left:0;
	}

	.mfp-bottom-bar {
		right:0;
		left: auto;
	}

	.mfp-title {
		text-align:right;
		padding-left:36px;
		padding-right: 0;
	}

}

.mfp-iframe-scaler #content {
	right:0;
	left: auto;
}

.mfp-figure:after {
	right:0;
	left:0;
}

.mfp-bottom-bar {
	right:0;
	left: auto;
}

.mfp-title {
	text-align:right;
	padding-left:36px;
	padding-right: 0;
}

.mfp-ie7 .mfp-bottom-bar {
	right:50%;
	margin-right:-300px;
	left: auto;
	margin-left: auto;
}

.mfp-ie7 .mfp-close {
	left:0;
	right: auto;
}

.quickview .product-info .right {
	padding-right:30px;
	padding-left: 0;
}

.quickview .product-info .left {
	text-align:right;
	padding-right:15px;
	padding-left: 0;
}

.quickview .product-info .left .description {
	float:right;
}

.quickview .product-info .left .woocommerce-product-rating .star-rating {
	float:right;
}

.quickview .product-info .left .price del {
	padding-left:5px;
	padding-right: 0;
}

.quickview .product-info .left .cart {
	float:right;
}

.quickview .product-info .left .cart .quantity {
	float:right;
	margin-left:15px;
	margin-right: auto;
}

.quickview .product-info .left .woo-share {
	margin-right:0;
	float:right;
	margin-left: auto;
}

.quickview .product-info .left .woo-share li a.facebook {
	margin-right:0;
	margin-left: auto;
}

.quickview .quick-view-detail {
	left:20px;
	right: auto;
}

.widget_shopping_cart .minicart_hover .cart-items-number {
	text-align:right;
}

.widget_shopping_cart .minicart_hover .cart-items-number span.wrapper-items-number {
	right:17px;
	left: auto;
}

.widget_shopping_cart .widget_shopping_cart_content {
	right:auto;
	left:0;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li {
	margin-right:0!important;
	margin-left: auto;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a {
	text-align:right;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a img {
	margin-left:15px;
	float:right;
	margin-right: auto;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li dl {
	border-right:0 none!important;
	float:right;
	padding-right:0!important;
	padding-left: 0;
	border-left: none;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .quantity {
	float:right;
	text-align:right;
}

.widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .remove {
	right:auto!important;
	left:10px;
}

.widget_shopping_cart .widget_shopping_cart_content .total .amount {
	margin-right:10px;
	margin-left: auto;
}

.thim-login .title:after {
	right:0;
	left:0;
}

.thim-login form#registerform>a[title='Lost Password'],
.thim-login form#loginform>a[title='Lost Password'] {
	float:left;
	text-align:left;
}

.thim-login form#registerform p.login-remember,.thim-login form#loginform p.login-remember {
	float:right;
}

form#lostpasswordform p input[type=submit] {
	margin-right:5px;
	margin-left: auto;
}

.single-quiz button.prev-question {
	margin-left:5px;
	margin-right: auto;
}

.single-quiz .quiz-clock .quiz-total {
	border-left:1px solid #eee;
	padding-left:20px;
	margin-left:20px;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

.single-quiz .quiz-clock .quiz-total .fa {
	margin-left:5px;
	margin-right: auto;
}

.single-quiz .quiz-clock .quiz-timer .fa {
	margin-left:5px;
	margin-right: auto;
}

.single-quiz .quiz-questions ul li {
	padding-right:20px;
	padding-left: 0;
}

.single-quiz .quiz-questions ul li:before {
	right:0;
	left: auto;
}

.single-quiz .quiz-question-nav .lp-question-wrap ul.lpr-question-hint li.correct label:after {
	margin-right:5px;
	margin-left: auto;
}

.quiz-results .result-field {
	margin-left:20px;
	margin-right: auto;
}

.quiz-results .result-field:last-child {
	margin-left:0;
	margin-right: auto;
}

.question-hint {
	margin-right:15px;
	margin-left: auto;
}

.question-hint .quiz-hint-content {
	right:0;
	left: auto;
}

.single-lpr_quiz #content {
	padding-right:0;
	padding-left:0;
}

.thim-widget-courses .view-all-courses {
	left:0;
	right: auto;
}

.thim-course-carousel .owl-controls {
	left:15px;
	right: auto;
}

.thim-course-carousel .owl-controls .owl-prev,.thim-course-carousel .owl-controls .owl-next {
	margin-right:10px;
	margin-left: auto;
}

.thim-course-grid .lpr_course[class*=course-grid-] {
	float:right;
}

.thim-course-grid .course-item .thim-course-content .course-meta:before {
	right:0;
	left:0;
}

.thim-course-grid .course-item .thim-course-content .course-meta:after {
	right:0;
	left:0;
}

.thim-course-grid .course-item .thim-course-content .course-meta>div {
	float:right;
	margin-left:15px;
	margin-right: auto;
}

.thim-course-grid .course-item .thim-course-content .course-meta>div i {
	margin-left:4px;
	margin-right: auto;
}

.thim-course-grid .course-item .thim-course-content .course-meta>div.course-price {
	float:left;
	margin-left:0;
	margin-right: auto;
}

.thim-course-list .course-item .course-thumbnail {
	float:right;
	margin-left:calc(30px);
	margin-left:-webkit-calc(30px);
	margin-left:-moz-calc(30px);
	margin-right: auto;
}

.thim-course-list .course-item .thim-course-content {
	float:left;
}

.thim-course-list .course-item .thim-course-content .course-meta>div {
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #eee;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

.thim-course-list .course-item .thim-course-content .course-meta>div.course-author img {
	float:right;
	margin-left:10px;
	margin-right: auto;
}

.thim-course-list .course-item .thim-course-content .course-meta>div.course-students {
	padding-left:0;
	margin-left:0;
	border-left:0;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

.thim-course-list .course-item .thim-course-content .course-price {
	float:right;
}

.thim-course-list .course-item .thim-course-content .course-readmore {
	float:left;
}

.thim-course-top {
	padding:10px 20px 10px 10px;
}

.thim-course-top .thim-course-switch-layout {
	float:right;
}

.thim-course-top .thim-course-switch-layout a {
	margin-left:5px;
	margin-right: auto;
}

.thim-course-top .courses-searching {
	float:left;
}

.thim-course-top .courses-searching ul {
	right:0;
	left:0;
}

.thim-course-top .courses-searching form input[type=text] {
	padding:6px 10px 6px 0;
}

.thim-course-top .courses-searching form button[type=submit] {
	left:0;
	right: auto;
}

.course-item .course-thumbnail .course-wishlist-box {
	left:15px;
	right: auto;
}

.learn-press .course-meta>div {
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #eee;
	padding-right: 0;
	margin-right: auto;
	border-right: none;
}

.learn-press .course-meta>div.course-author img {
	float:right;
	margin-left:10px;
	margin-right: auto;
}

.learn-press .course-meta>div.course-review {
	border-left:0;
	border-right: none;
}

.learn-press .course-payment {
	float:left;
}

.learn-press .course-payment .course-price {
	float:right;
	margin-left:20px;
	margin-right: auto;
}

.learn-press .course-payment .course-enrolled .fa {
	margin-left:8px;
	margin-right: auto;
}

.learn-press .course-tabs .nav-tabs li a {
	margin-left:3px;
	margin-right: auto;
}

.learn-press .course-tabs .nav-tabs li a .fa {
	margin-left:8px;
	margin-right: auto;
}

.learn-press .course-tabs .nav-tabs li:last-child a {
	margin-left:0;
	margin-right: auto;
}

.learn-press .course-tabs .nav-tabs li:last-child.active:before {
	left:0;
	right: auto;
}

.learn-press .course-tabs .nav-tabs li:last-child.active:after {
	left:0;
	right: auto;
}

.learn-press .course-tabs .nav-tabs li.active:before {
	right:0;
	left:3px;
}

.learn-press .course-tabs .nav-tabs li.active:after {
	right:0;
	left:3px;
}

.learn-press .curriculum-sections .section-content .course-lesson,.learn-press .curriculum-sections .section-content .course-quiz {
	padding:11px 9px 11px 13px;
}

.learn-press .curriculum-sections .section-content .course-lesson .quiz-title,.learn-press .curriculum-sections .section-content .course-quiz .quiz-title,.learn-press .curriculum-sections .section-content .course-lesson .lesson-title,.learn-press .curriculum-sections .section-content .course-quiz .lesson-title {
	margin-left:15px;
	margin-right: auto;
}

.learn-press .curriculum-sections .section-content .course-lesson .lesson-preview,.learn-press .curriculum-sections .section-content .course-quiz .lesson-preview {
	margin-right:0;
	margin-left: auto;
}

.learn-press .curriculum-sections .section-content .course-lesson span.course-format-icon,.learn-press .curriculum-sections .section-content .course-quiz span.course-format-icon {
	margin-left:5px;
	margin-right: auto;
}

.learn-press .curriculum-sections .section-content .course-lesson span.meta,.learn-press .curriculum-sections .section-content .course-quiz span.meta {
	float:left;
}

.learn-press .curriculum-sections .section-content .course-lesson span.locked,.learn-press .curriculum-sections .section-content .course-quiz span.locked {
	margin-right:0;
	margin-left: auto;
}

.learn-press .curriculum-sections .section-content .course-lesson.completed .completed-button,.learn-press .curriculum-sections .section-content .course-quiz.completed .completed-button {
	margin-right:0;
	margin-left: auto;
}

.learn-press .tab-content .course-wishlist-box span.text {
	margin-right:10px;
	margin-left: auto;
}

.learn-press #learn_press_payment_form {
	left:0;
	right: auto;
}

.learn-press #learn_press_payment_form .learn_press_payment_close {
	left:0;
	right: auto;
}

.learn-press #learn_press_payment_form .learn_press_payment_checkout {
	margin:0 20px 20px 0;
}

#tab-course-description .thim-course-content {
	float:right;
	padding-left:45px;
	border-left:1px solid #eee;
	padding-right: 0;
	border-right: none;
}

#tab-course-description .thim-course-info {
	padding-right:30px;
	float:right;
	padding-left: 0;
}

#tab-course-description .thim-course-info ul li .fa {
	text-align:right;
}

#tab-course-description .thim-course-info ul li .value {
	float:left;
	text-align:right;
}

.thim-course-menu-landing {
	right:0;
	left:0;
}

.thim-course-menu-landing .thim-course-landing-tab {
	float:right;
}

.thim-course-menu-landing .thim-course-landing-tab li {
	margin-left:25px;
	margin-right: auto;
}

.thim-course-menu-landing .thim-course-landing-tab li.active:before {
	right:0;
	left:0;
}

.thim-course-menu-landing .thim-course-landing-tab li:last-child {
	margin-left:0;
	margin-right: auto;
}

.thim-course-menu-landing .thim-course-landing-button {
	float:left;
}

.thim-course-menu-landing .thim-course-landing-button .course-price {
	margin-left:20px;
	float:right;
	margin-right: auto;
}

#tab-course-review .course-rating .average-rating {
	float:right;
	margin-left:30px;
	margin-right: auto;
}

#tab-course-review .course-rating .detailed-rating .stars>div.bar .full_bar>div {
	right:0;
	left: auto;
}

#tab-course-review .course-review .content-review>ul .review-author {
	float:right;
	margin-left:30px;
	margin-right: auto;
}

#tab-course-review .course-review .content-review>ul .review-time {
	margin-left:15px;
	margin-right: auto;
}

#tab-course-review .course-review .content-review>ul .review-text {
	float:left;
}

#tab-course-review .course-review .content-review>ul .review-text .author-name {
	margin-left:15px;
	margin-right: auto;
}

.thim-ralated-course .related-title:after {
	right:0;
	left: auto;
}

.mfp-content .popup-title {
	padding-right:30px;
	padding-left:100px;
	left: auto;
}

.mfp-content .popup-title .index {
	margin-left:10px;
	margin-right: auto;
}

.profile-container .box-title:after {
	right:0;
	left: auto;
}

.profile-container .user-tab {
	float:right;
	padding-left:30px;
	padding-right: 0;
}

.profile-container .user-tab .author-name:after {
	right:0;
	left:0;
}

.profile-container .profile-tabs {
	float:left;
}

.profile-container .profile-tabs .nav-tabs li a {
	margin-left:3px;
	margin-right: auto;
}

.profile-container .profile-tabs .nav-tabs li a .fa {
	margin-left:8px;
	margin-right: auto;
}

.profile-container .profile-tabs .nav-tabs li:last-child a {
	margin-left:0;
	margin-right: auto;
}

.profile-container .profile-tabs .nav-tabs li:last-child.active:before {
	left:0;
	right: auto;
}

.profile-container .profile-tabs .nav-tabs li:last-child.active:after {
	left:0;
	right: auto;
}

.profile-container .profile-tabs .nav-tabs li.active:before {
	right:0;
	left:3px;
}

.profile-container .profile-tabs .nav-tabs li.active:after {
	right:0;
	left:3px;
}

.profile-container .profile-tabs .tab-content>.tab-pane {
	padding-right:0;
	padding-left:0;
}

.profile-container .profile-tabs .tab-content .thim-course-grid>p {
	margin-right:15px;
	margin-left:15px;
}

.thim-list-content li {
	padding-right:25px;
	padding-left: 0;
}

.thim-list-content li:before {
	right:0;
	left: auto;
}

.tp-event-top .entry-thumbnail a:before {
	right:0;
	left:0;
}

.tp_single_event .tp-event-top:before {
	right:0;
	left:0;
}

.tp-event-top .entry-countdown {
	right:0;
	left:0;
}

.tp-event-top .entry-countdown .tp_event_counter .countdown-row .countdown-section:first-child {
	margin-right:0;
	margin-left: auto;
}

.tp-event-top .entry-countdown .tp_event_counter .countdown-row .countdown-section:last-child {
	margin-left:0;
	margin-right: auto;
}

.tp-event-content .entry-content {
	padding-left:30px;
	float:right;
	padding-right: 0;
}

.tp-event-content .entry-content:after {
	left:0;
	right: auto;
}

.tp-event-content .tp-event-info {
	padding-right:30px;
	float:left;
	padding-left: 0;
}

.tp-event-info .tp-info-box p {
	padding-right:23px;
	padding-left: 0;
}

.tp-event-info .tp-info-box .heading .fa {
	right:0;
	left: auto;
}

.tp-event-organizers .owl-buttons .owl-prev,.tp-event-organizers .owl-buttons .owl-next {
	right:0;
	left: auto;
}

.tp-event-organizers .owl-buttons .owl-next {
	right:auto;
	left:0;
}

.contact-page .row {
	margin-right:-5px;
	margin-left:-5px;
}

.contact-page .row .wpcf7-form-control-wrap {
	float:right;
}

.wpcf7-form .your-name,.wpcf7-form .your-email {
	float:right;
	margin-right:14px;
	margin-left: auto;
}

.thim-register-now-form .wpcf7-form .your-name,.thim-register-now-form .wpcf7-form .your-email {
	margin-right:0;
	margin-left: auto;
}

.wpcf7-form .your-name {
	margin-right:0;
	margin-left: auto;
}

.thim-register-now-form {
	float:left;
}

.thim-register-now-form .title:before {
	right:calc(50% - 410px);
	right:-webkit-calc(50% - 410px);
	right:-moz-calc(50% - 410px);
	left: auto;
}

.thim-register-now-form .wpcf7-form img.ajax-loader {
	right:0;
	left:0;
}

.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type=text],.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type=email] {
	background-position: center left 10px;
	margin-right: 0;
	margin-left: auto;
}

.mc4wp-form .mc4wp-form-fields input[type=text],.mc4wp-form .mc4wp-form-fields input[type=email] {
	margin-right:0;
	margin-left: auto;
}

.mc4wp-form .mc4wp-form-fields input[type=submit] {
	margin-right:-1px;
	margin-left: auto;
}

/** Responsive **/

@media (min-width: 1200px) {
	.content-pusher.boxed-area .container {
		padding-right: 55px;
		padding-left: 55px;
	}

	.content-pusher.boxed-area .thim-top-rev-slider .tp-leftarrow {
		left: 0;
		right: auto !important;
	}

	.content-pusher.boxed-area .site-header.sticky-header {
		right: 0;
		left: 0;
	}

	.siteorigin-panels-stretch {
		margin-right: -385px;
		margin-left: -385px;
		padding-right: 385px;
		padding-left: 385px;
	}

	.siteorigin-panels-stretch.thim-fix-stretched {
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width: 1024px) {
	.custom-readmore {
		background-position: bottom left;
	}

	.custom-readmore .content-inner {
		padding-left: 160px;
		padding-right: 0;
	}

	.custom-readmore .content-inner .smicon-read {
		left: 0;
		right: auto;
	}
}
@media (max-width: 1024px) {
	.color-white .counter-group .counter-block {
		margin-left: 20px;
		margin-right: auto;
	}

	.color-white .counter-group .counter-block:last-child {
		margin-left: 0;
		margin-right: auto;
	}

	.entry-tag-share .social-share li {
		margin-left: 15px;
		margin-right: auto;
	}

	.widget-area .thim-list-posts.sidebar .article-title-wrapper {
		margin-right: 105px;
		margin-left: auto;
	}

	.widget-area .thim-course-list-sidebar .thim-course-content {
		margin-right: 105px;
		margin-left: auto;
	}

	.widget-area aside {
		padding-left: 0;
		padding-right: 20px;
	}

	.mfp-content .popup-title {
		right: 0 !important;
		left: 0 !important;
	}
}
@media (max-width: 992px) {
	.color-white .counter-group .counter-block {
		margin-left: 10px;
		margin-right: auto;
	}

	.thim-course-list .course-item .thim-course-content .course-meta > div {
		margin-left: 15px;
		padding-left: 15px;
		padding-right: 0;
		margin-right: auto;
	}

	.single-lpr_course .mfp-container {
		padding-right: 15px;
		padding-left: 15px;
	}

	.widget-area .thim-list-posts.sidebar .article-title-wrapper {
		margin-right: 0;
		margin-left: auto;
	}

	.widget-area .thim-course-list-sidebar .thim-course-content {
		margin-right: 0;
		margin-left: auto;
	}
}

@media (min-width: 768px) and (max-width: 800px) {
	#tab-course-description .thim-course-content {
		border-left: 0;
		border-right: none;
	}

	#tab-course-description .thim-course-info {
		padding-right: 0;
		padding-left: 0;
	}

	.profile-container .quiz-results .result-field {
		margin-left: 15px;
		margin-right: auto;
	}

	.tp-event-content .tp-event-info {
		padding-right: 0;
		padding-left: 0;
	}

	article .entry-header .entry-meta li {
		margin-left: 20px;
		padding-left: 25px;
		padding-right: 0;
		margin-right: auto;
	}
}
@media (max-width: 768px) {
	.mfp-content .popup-title {
		padding-right: 20px;
		padding-left: 80px;
	}

	.mfp-content .course-content.popup-content,
	.mfp-content .thim-iframe-quiz iframe {
		padding-right: 20px;
		padding-left: 20px;
	}
}
@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
		float: none;
	}
	#main,
	#sidebar {
		float: right;
	}

	.blog .site-main.alignright,
	.archive .site-main.alignright,
	.single .site-main.alignright {
		padding-left: 15px;
		padding-right: 15px;
	}

	.blog .site-main.alignleft,
	.archive .site-main.alignleft,
	.single .site-main.alignleft {
		padding-right: 15px;
		padding-left: 15px;
	}

	.counter-box {
		border-left: 0;
		border-right: none;
	}

	footer#colophon .copyleft-area .text-left {
		text-align: right;
	}

	footer#colophon .copyleft-area .text-left li:first-child {
		margin-right: 0;
		margin-left: auto;
	}

	.widget-box-title {
		padding-left: 0;
		padding-right: 0;
	}

	.thim-gallery-images-default .item {
		float: right;
	}

	.fix-responsive {
		margin-right: 0 !important;
		margin-left: auto;
	}

	.single .learn-press header .author {
		float: right;
	}

	.menu-scoll-landing .col-md-6 {
		text-align: right;
	}

	.menu-scoll-landing .course-wishlist,
	.menu-scoll-landing .course-wishlisted {
		margin-right: 0;
		margin-left: auto;
	}
}
@media screen and (max-width: 667px) {
	.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type=text],
	.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type=email] {
		margin-right: 0;
		margin-left: auto;
	}

	#tab-course-description .thim-course-content {
		border-left: 0;
		border-right: none;
	}

	#tab-course-description .thim-course-info {
		padding-right: 0;
		padding-left: 0;
	}

	.thim-list-event .item-event .time-from .date {
		margin-left: 10px;
		margin-right: auto;
	}

	.thim-list-event .item-event .event-wrapper {
		padding: 0 0 0 50px;
	}
}
@media screen and (max-width: 600px) {
	.mc4wp-form .mc4wp-form-fields input[type=\'text\'],
	.mc4wp-form .mc4wp-form-fields input[type=\'email\'] {
		margin-right: 0;
		margin-left: auto;
	}

	.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type=\'text\'],
	.thim-newlleter-homepage .mc4wp-form .mc4wp-form-fields input[type=\'email\'] {
		margin-right: 0;
		margin-left: auto;
	}

	article .entry-header .entry-meta li {
		padding-left: 20px;
		margin-left: 15px;
		padding-right: 0;
		margin-right: auto;
	}

	.woocommerce #content .comments-area .comment-list .comment-list-inner .children,
	.woocommerce .comments-area .comment-list .comment-list-inner .children,
	.comments-area .comment-list .comment-list-inner .children {
		margin-right: 50px;
		margin-left: auto;
	}

	.thim-testimonial-slider .slides-content .content {
		margin-right: -30px;
		margin-left: -30px;
	}

	.tp-event-content .tp-event-info {
		padding-right: 0;
		padding-left: 0;
	}

	.learn-press .course-meta > div {
		border-left: 0;
		border-right: none;
	}
}
@media (max-width: 480px) {
	.breadcrumbs-wrapper.button-list-gird .display {
		text-align: right;
	}

	.breadcrumbs-wrapper.button-list-gird .display a {
		margin-right: 0;
		margin-left: 20px;
	}

	.thim-gallery-images-default .item {
		float: right;
	}

	.thim-widget-courses-searching .courses-searching input {
		padding-right: 10px;
		padding-left: 0;
	}

	article .entry-header .date-meta {
		border-left: 0;
		border-right: none;
	}

	.thim-list-event .item-event .event-wrapper {
		padding-right: 0;
		padding-left: 0;
	}

	#tab-course-description .thim-course-content {
		padding-left: 20px;
		padding-right: 0;
	}

	.counter-group .counter-block {
		margin-left: 10px;
		margin-right: auto;
	}

	.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-author,
	.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-email,
	.comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-url {
		margin-right: 0;
		margin-left: 0;
	}

	.thim-course-list .course-item .course-thumbnail {
		margin-left: 0;
		margin-right: auto;
	}
}

@media (max-width: 360px) {
	.wpcf7-form .your-name,
	.wpcf7-form .your-email {
		margin-right: 0;
		margin-left: auto;
	}

	.counter-group .counter-block {
		margin-left: 5px;
		margin-right: auto;
	}

	.color-white .counter-group .counter-block {
		margin-left: 5px;
		margin-right: auto;
	}

	.thim-widget-list-event .thim-list-event .view-all {
		right: 0;
		left: auto;
	}

	.thim-course-carousel .owl-controls,
	.thim-owl-carousel-post .owl-controls {
		right: 5px;
		left: auto;
	}
	.comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link{
		margin-left: 15px;
		margin-right: 0;
		float: right;
	}
}
@media (max-width: 320px) {

}


/** New CSS **/
.sc_heading .title{
	text-align: right;
}
.sc_heading.text-left .line{
	right: 0;
	left: auto;
}
.sc_heading .sub-heading{
	text-align: right;
}
.sc_heading.text-center .title{
	text-align: center;
}
.sc_heading.text-center .sub-heading{
	text-align: center;
}
.sc_heading.text-center .line{
	right: 0;
	left: 0;
}
.counter-group{
	text-align: right;
}
.quickview .product-info .left {
	padding-right: 30px;
	padding-left: 15px;
}

.quickview .product-info .right {
	text-align: right;
	padding-right: 15px;
	padding-left: 0;
}

.quickview .product-info .right .description {
	float: right;
	padding-left: 20px;
}

.quickview .product-info .right .woocommerce-product-rating .star-rating {
	float: right;
}

.quickview .product-info .right .price del {
	padding-left: 5px;
	padding-right: 0;
}

.quickview .product-info .right .cart {
	float: right;
}

.quickview .product-info .right .cart .quantity {
	float: right;
	margin-left: 15px;
	margin-right: auto;
}

.quickview .product-info .right .woo-share {
	margin-right: 0;
	float: right;
	margin-left: auto;
}

.quickview .product-info .right .woo-share li a.facebook {
	margin-right: 0;
	margin-left: auto;
}

.quickview .quick-view-detail {
	left: 20px;
	right: auto;
}
.quickview .flexslider ul{
	float: left;
}

.thim-widget-courses .thim-course-grid.thim-course-carousel .owl-wrapper-outer .owl-item{

}
.owl-carousel .owl-wrapper{
	float: left;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-carousel .owl-controls .owl-prev, .owl-carousel .owl-controls .owl-next{
	float: left;
}
.search-form label .search-field{
	padding: 0 15px 0 60px;
}
.search-form .search-submit{
	right: auto;
	left: 0;
}
.mfp-content .popup-title .index{
	float: right;
}
.course-content .course-content-lesson-nav .prev-lesson{
	float: left;
}
.course-content .course-content-lesson-nav-text .prev-lesson-text{
	float: left;
}
.mfp-wrap{
	direction: ltr;
}
.wpcf7-form span.wpcf7-not-valid-tip{
	text-align: right;
}

@media (min-width: 1200px) {
	.thim-course-top .courses-searching ul{
		right: 0;
		left: auto;
	}
}
@media (min-width: 769px) {
	.navigation .navbar-nav>li:last-child>a, .navigation .navbar-nav>li:last-child>span{
		padding-left: 0;
		padding-right: 20px;
	}
	.navbar-nav li .sub-menu{
		left: auto;
		right: 0;
	}
	.navbar-nav li .sub-menu li{
		text-align: right;
	}
}
footer#colophon .copyright-area .text-right{
	text-align: left;
}
@media(max-width: 767px) {
	footer#colophon .copyright-area .text-right{
		text-align: right;
	}
}
@media(max-width: 480px) {
	.blog-content article{
		overflow: hidden;
	}
}
@media(max-width: 360px) {
	.thim-about-author .author-avatar{
		float: none;
		margin: auto;
	}
}
@media (max-width: 320px){
	.wrapper-container .mobile-effect.mobile-menu-container{
		left: -250px;
		right: auto;
	}
	.wrapper-container.mobile-menu-open .content-pusher {
		transform: translate(250px,0);
		-webkit-transform: translate(250px,0);
		-moz-transform: translate(250px,0);
		-ms-transform: translate(250px,0);
		-o-transform: translate(250px,0);
	}
}
#toolbar .widget_login-menu .thim-widget-login-menu a:first-child{
	padding-left: 12px;
}
#toolbar .widget_login-menu .thim-widget-login-menu a:last-child{
	padding-left: 0;
	padding-right: 12px;
}
.mo-openid-app-icons .btn-block{
	margin-right: 0;
	margin-left: 20px;
}
.mo-openid-app-icons .btn-block:last-child{
	margin-left: 0;
	margin-right: 20px;
}

body{
	overflow-x: hidden;
}